body {
  margin: 0;
  padding: 0;
}
 
.container {
  width: 620px;
  padding: 10px;
  border-radius: 8px;
  margin: 60px auto;
  font-size: 22px;
  line-height: 1.5;
  /* color: white; */
  /* background-color: black; */
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.sec {
  text-align: center;
}

input {
  padding: 5px 10px;
  width: 90px;
  font-size: 20px;
  border: none;
  color: black;
  border-bottom: 1px solid black;
}

button {
  padding: 5px 25px;
  font-size: 14px;
  background-color: lightblue;
  font-weight: 700;
}

span {
  text-align: center;
  color: #276f87;
  font-weight: 900;
}

.item-bag {
  
}


